header{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  border-radius: 25px;
  border-width: 500px;

}

body {
  background-image: url("images/background-image.jpg");
  background-size: cover;
}

article, div, section {
  text-align:center;
}

a {
  font-size: 20px;
  padding-top: 50px;
  padding-left: 50px;
}

.padding-on-top {
  padding: 200px

}

a:link {color: white;}
a:visited {color: lightgray}
a:hover {color: purple}
a:active {color: violet}
