header main{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

body {
  background-image: url("images/background-image.jpg");
  background-size: cover;
}

a:link {color: white;}
a:visited {color: lightgray}
a:hover {color: purple}
a:active {color: violet}
